{
  "coin_name": "Particl",
  "coin_shortcut": "PART",
  "coin_label": "Particl",
  "rpc_url": "http://127.0.0.1:51735",
  "rpc_user": "particlrpc",
  "rpc_pass": "CHANGE_THIS_TO_YOUR_RPC_PASSWORD",
  "rpc_timeout": 25,
  "parse": false,
  "message_queue_binding": "tcp://127.0.0.1:51736",
  "mempool_workers": 8,
  "mempool_sub_workers": 2,
  "block_addresses_to_keep": 300,
  "extended_index": true,
  "xpub_magic": 76067358,
  "xpub_magic_segwit_p2sh": 77429938,
  "xpub_magic_segwit_native": 78792518,
  "slip44": 44,
  "fiat_rates": "coingecko",
  "fiat_rates_vs_currencies": "AED,ARS,AUD,BDT,BHD,BMD,BRL,CAD,CHF,CLP,CNY,CZK,DKK,EUR,GBP,HKD,HUF,IDR,ILS,INR,JPY,KRW,KWD,LKR,MMK,MXN,MYR,NGN,NOK,NZD,PHP,PKR,PLN,RUB,SAR,SEK,SGD,THB,TRY,TWD,UAH,USD,VEF,VND,ZAR,BTC,ETH",
  "fiat_rates_params": "{\"coin\": \"particl\", \"periodSeconds\": 900}"
}
